---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Jak i.] Publikowanie i Analizuj wyniki testów? | Microsoft Docs'
author: rick-anderson
description: Program Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu. Ten film zawiera instrukcje dotyczące sposobu publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 04/06/2018
ms.locfileid: "30894899"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="128b6-105">[Jak i.] Publikowanie i Analizuj wyniki testów?</span><span class="sxs-lookup"><span data-stu-id="128b6-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="128b6-106">przez [Menegay Krzysztof](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="128b6-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="128b6-107">Program Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu.</span><span class="sxs-lookup"><span data-stu-id="128b6-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="128b6-108">Ten film zawiera instrukcje dotyczące sposobu publikowania wyników testów do projektu bazy danych serwera Team Foundation Server i skojarzyć wyników przy użyciu numeru kompilacji.</span><span class="sxs-lookup"><span data-stu-id="128b6-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="128b6-109">Widzimy, że po opublikowaniu wyników możemy użyć Menedżera raportów można wyświetlić graficzną reprezentację zmian w naszych wyników testu kompilacji.</span><span class="sxs-lookup"><span data-stu-id="128b6-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="128b6-110">&#9654;Obejrzyj klip wideo (minuty 7)</span><span class="sxs-lookup"><span data-stu-id="128b6-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="128b6-111">[Poprzednie](how-do-i-use-generic-tests.md)
> [dalej](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="128b6-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
