---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Jak mogę] Publikowanie i analizowanie wyników testu? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu. To wideo zawiera instrukcje dotyczące sposobu publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 2beeac7c4d8157787a156af03a42f9c1f7dbbd17
ms.sourcegitcommit: 953ff9ea4369f154d6fd0239599279ddd3280009
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 07/03/2018
ms.locfileid: "37379519"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Jak mogę] Publikowanie i analizowanie wyników testu?
====================
przez [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu. To wideo zawiera instrukcje na temat publikowania wyników testu do projektu bazy danych Team Foundation Server i skojarzyć wyniki z numeru kompilacji. Widzimy, że po opublikowaniu wyniki możemy użyć Menedżera raportów, aby wyświetlić graficzną reprezentację zmiany w naszych wyników testu kompilacji.

[&#9654;Obejrzyj film wideo (minuty 7)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Poprzednie](how-do-i-use-generic-tests.md)
> [dalej](how-do-i-discover-application-changes-prior-to-deployment.md)
