---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: "[Jak i.] Publikowanie i Analizuj wyniki testów? | Dokumentacja firmy Microsoft"
author: rick-anderson
description: "Program Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu. Ten film zawiera instrukcje dotyczące sposobu publ...."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 3f9d94e2fbbb53679b5af1d2f2a4abe1866f9e58
ms.sourcegitcommit: 9a9483aceb34591c97451997036a9120c3fe2baf
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 11/10/2017
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Jak i.] Publikowanie i Analizuj wyniki testów?
====================
przez [Menegay Krzysztof](https://twitter.com/CMenegay)

Program Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu. Ten film zawiera instrukcje dotyczące sposobu publikowania wyników testów do projektu bazy danych serwera Team Foundation Server i skojarzyć wyników przy użyciu numeru kompilacji. Widzimy, że po opublikowaniu wyników możemy użyć Menedżera raportów można wyświetlić graficzną reprezentację zmian w naszych wyników testu kompilacji.

[&#9654; Obejrzyj klip wideo (minuty 7)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
[Poprzednie](how-do-i-use-generic-tests.md)
[dalej](how-do-i-discover-application-changes-prior-to-deployment.md)
