---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Jak mogę] Publikowanie i analizowanie wyników testu? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu. To wideo zawiera instrukcje dotyczące sposobu publ....
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833079"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Jak mogę] Publikowanie i analizowanie wyników testu?
====================
przez [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System pozwala na wykresie zmiany w jakości kodu projektu w miarę postępów projektu. To wideo zawiera instrukcje na temat publikowania wyników testu do projektu bazy danych Team Foundation Server i skojarzyć wyniki z numeru kompilacji. Widzimy, że po opublikowaniu wyniki możemy użyć Menedżera raportów, aby wyświetlić graficzną reprezentację zmiany w naszych wyników testu kompilacji.

[&#9654;Obejrzyj film wideo (minuty 7)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Poprzednie](how-do-i-use-generic-tests.md)
> [dalej](how-do-i-discover-application-changes-prior-to-deployment.md)
